<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../public/img/p.jpg" alt="project-logo">

    <title>project list</title>
    <link href="../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="../public/css/main.css" rel="stylesheet">

</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/students/index">New Project</a></li>
                <li><a href="/students/user" >User</a></li>
                <li><a href="/students" >Project List</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Project ID</th>
                        <th>Project Name</th>
                        <th>Project Detail</th>
                        <th>Available Students</th>
                        <th>Project Status</th>
                        <th>File</th>
                        <th>Modify</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{ each projects }}
                    <tr>
                        <td>{{ $value.id }}</td>
                        <td>{{ $value.name }}</td>
                        <td>{{ $value.detail }}</td>
                        <td>{{ $value.students }}</td>
                        <td>{{ $value.status }}</td>
                        <td>{{ $value.file }}</td>
                        <td>
                            <a href="/students/edit?id={{$value.id}}">Edit</a>
                            <a href="/students/delete?id={{$value.id}}">Delete</a>
                        </td>
                    </tr>
                    {{ /each }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>
