<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>submit successful</title>
    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../public/css/success.css" type="text/css" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1,user-scalable=no">
    <meta name="author" content="cry">
    <meta name="keywords" content="project list">
    <meta name="description" content="submit project by teacher">
    <meta content="" name="description">
    <link rel="icon" href="../public/img/p.jpg" alt="project-logo">

    <script src="../public/js/link.js"></script>
</head>
<body>
<div class="success">
    <img class="mb-4" src="../public/img/tick.jpg" alt="">

    <button class="btn btn-lg btn-primary btn-block" onclick="linkProjectList()">See Project List</button>
    <button class="btn btn-lg btn-primary btn-block" onclick="linkNewProject()">Create A New Project</button>
</div>
</body>
</html> 
