#blackboard{
    width: 100%;
    height: 900px;
}

h2{
    color: yellow;
    top: 35px;
    left: 50%;
    margin-left: -500px;
    position: absolute;
}

.project_teacher{
    width: 700px;
    top: 50px;
    left: 50%;
    margin-left: -400px;
    position: absolute;
}

.project_teacher .form{
    float: bottom;
    margin: 40px 0 0 20px;
}

.project_information{
    background: #ffffff;
    width: 700px;
    height: 480px;
}

.teacher_information{
    background: #ffffff;
    width: 700px;
    height: 300px;
}

.box{
    margin-left: 40px;
    padding-top: 5px;
}

input, select{
    width: 500px;
    margin-bottom: 20px;
}

p{
    text-align: center;
}

.box h3{
    padding-top: 5px;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}

button{
    width: 200px;
    height: 40px;
    font-weight: bold;
    margin-left: 280px;
    /*margin: auto;*/
    display: block;
}

.banner .card{
    top: 100px;
    margin-left: 160px;
    position: absolute;
    width: 2000px;
    display: block;
}
